@font-face {
    font-family: FiraCode;
    src: url("res/fonts/fira_code.ttf") format("truetype");
}

::-webkit-scrollbar {
    display: none;
}

body {
  background-color: #111111;
  text-align: center;
  font-family: FiraCode;
  font-size: 150%;
  color: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 260%;
}

ul {
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.6;
  transition: 0.5s;
}

a:hover {
  opacity: 1.0;
}

.project-links {
  font-size: 40;
  transition: 0.3s;
}

.project-links:hover {
  font-size: 42;
}

.rainbow-text {
  background: linear-gradient(to right, #E359FF, #FF9959, #FFCB59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  width: 10rem;
  height: 100vh;
  position: fixed;
  display: flex;
  padding-left: 1%;
  padding-top: 1%;
}

.navbar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-icon {
  height: 80px;
  margin-top: 20%;
}
/*  transition: 0.3s;
}

.navbar-icon:hover {
  height: 90px;
}*/

.home-title {
  padding-top: 20%;
  padding-bottom: 15%;
  font-size: 200%;
  font-weight: bold;
}

.title {
  padding-top: 15%;
  font-size: 200%;
  font-weight: bold;
}

.text {
  font-size: 130%;
  font-weight: bold;
}

.shift-down {
  margin-bottom: 5%;
}
