@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body {
  --color-primary: purple;
  --color-secondary: orange;

  font-family: 'JetBrains Mono', monospace;
  background-color: #000000;
  color: #fff;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

section {
  margin-top: 25vmax;
  text-align: center;
}

.title-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -15vmax;
  font-size: 700%;
}

.title-code {
  font-size: 300%;
  font-weight: bolder;
  letter-spacing: 15px;
  margin-top: 20px;
  color: #cf6679;
  text-transform: uppercase;

  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

/* topbar */
.topbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, #000, transparent);
  /* background-color: #121212; */
  z-index: 5;
  position: fixed;
  display: flex;
}

.topbar-item {
  height: 50px;
  margin-left: 50px;
  margin-top: 12.5px;
  text-transform: uppercase;
}

.invert-img {
  filter: invert();
}

/* sctions */
#about #projects #socials {
  font-size: 20px;
}

.project {
  background: linear-gradient(to top, transparent, #21212144);
  border-radius: 10px;
  width: 600px;
  height: 80px;
  text-align: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  margin-top: 50px;
}

/* blob */
@keyframes rotate {
  from { rotate: 0deg; }
  25% { scale: 0.8 1.2; }
  75% { scale: 1.2 0.8; }
  to { rotate: 360deg; }
}

#blob {
  background-color: white;
  height: 30vmax;
  position: fixed;
  left: 50%;
  top: 50%;
  aspect-ratio: 1;
  z-index: -2;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  animation: rotate 2s infinite;
  animation-timing-function: linear;
  opacity: 0.5;
}

#blur {
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1.0;
  position: fixed;
  backdrop-filter: blur(12vmax);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}